*{
    margin:0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar
{
    justify-content: space-evenly;
    height: 60px;
    background-color: #0f1111;  
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo{
    height:50px;
    width:100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
}
	
.border{
    border: px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/** box2 **/
.add-first{
    color: #cccccc;
    display: flex;
    font-size: 0.85rem;
    margin-left: 3px ;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px ;
}


/** box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    display: flex;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-radius: 3px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border:none;
}

.search-input{
    width:100%;
    font-size: 1rem;
    border:none;    
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f8ac44;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/** box4 **/
.select-cty{
    width:10px;
    display: flex;
}

/** box5 **/

.acc-name{
    display: flex;
    font-size: 0.85rem;
    margin-left: 3px ;
}

.acc-opt{
    font-size: 1rem;
    display: flex;
    font-weight: bold;
    margin-left: 3px ;
}

/** box6-2nd line **/

.navbar2
{
    height: 39px;
    background-color: #232f3d;  
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.boxm{
    color: #ffffff;
    width: 10px;
    display: flex;
    justify-content: space-evenly;  
}
.nav-address2{
    display: flex;
    color: #ffffff;
}

.nav-idk .border{
    color: #ffffff;
}

.border{
    border: 2px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.idk2{
    display: flex;
}

.hero{
    background-image: url("hero_image.jpg");
    height: 350px;
    background-size: cover ;
    display: flex;
    align-items: end;
    justify-content: center;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 25px;
    position: relative;
    font-size: 0.85rem;
    margin-bottom: 30px;
    width: 80%;
    border-radius: 2px;
}

.hero-msg a{
    color:#007185;
}

.shop-sec{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #e2e7e6;
}

.box{
    width: 23%;
    margin-left: 10px;
    margin-right: 10px;
    height: 420px;
    border:0.025px solid black;
    background-color: white;
    font-weight:8;
    font-size: x-small;
    justify-content: center;
    align-items: center;
}

.box-img{
    height: 250px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.box1{
    justify-content: center;
    align-items: center;
    object-fit:cover;
    overflow: hidden;    
}

.box2{
    justify-content: center;
    align-items: center;
    object-fit:cover;
    overflow: hidden;

}

.img-a{
    height: 340px;
    width:260px;
    margin: 10px;
    display: flex;
}

.img-a2{
    height: 340px;
    width: 450px;
    margin-left: 15px;
    display: flex;
    object-fit:fill;
}



.box3{
    width: 23%;
    margin-left: 10px;
    margin-right: 10px;
    height: 420px;
    border:0.025px solid black;
    background-color: white;
    font-weight:8;
    font-size: x-small;
    justify-content: center;
    align-items: center;
}
.box5{
    height: 420px;
    width: 620px;
    justify-content: center;
    align-items: center;
}

.box6{
    width: 97%;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    border:0.025px solid black;
    background-color: white;
    font-weight:8;
    font-size: x-small;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.browse{
    margin-top: 30px;
    
}

.img-a3{
    height: 60%;
    width: 25%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    object-fit:fill;
}
